* /* sane defaults */
{
	font-family: arial, verdana, tahoma;
	font-size: 16px;
}

html, body, table, tr, td /* sane defaults */
{
	margin: 0px;
	padding: 0px;
}

h1, h2, h3, h4, h5 /* sane defaults */
{
	margin-top: 0px;
	margin-bottom: 0px;
}

div
{
	/*border: 1px solid black;*/ /* DEBUG */
}

#mainContainer
{
	margin: 0px auto;
	margin-top: 30px;
	width: 1000px;
}

/*
 * float hack 
 * http://shanerutter.co.uk/2011/03/08/css-floating-elements-resizing-container-clearfix/
*/
#mainContainer:after 
{
	content: ".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

#nav
{
	width: 990px;
	height: 40px;
	padding-left: 10px;
}

.sideBar
{
	width: 180px;
	padding: 10px;
}

#sideBarLeft
{
	float: left;
}

#sideBarRight
{
	float: right;
}

.topTen
{
	height: 100%;
	
}

.topTen table *
{
	font-size: 12px;
}

.topTen table td
{
	padding-bottom: 5px;
}

#categories ul
{
	margin: 0px;
	list-style-type: none;
	padding-left: 10px;
}

#categories ul:first-child
{
	padding-left: 0px;
}

#categories li
{
	margin: 0px;
}

#categories:first
{
	padding-left: 0px;
}

#content
{
	width: 580px;
	margin-left: 200px;
	padding: 10px;
}

footer
{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
	background: #eee;
	border: solid 1px #ddd;
}